.pubContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}

.iconPub {
    width: 80px;
    height: 80px;
    background: black;
    transition: 1.05s;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

.iconPub:hover {
    cursor: pointer;
    background: rgb(168, 168, 168);
}

.iconPubPen {
    mask-image: url("/static/icons/publish/pen.svg");
    -webkit-mask-image: url("/static/icons/publish/pen.svg");
}

.iconPubRemove {
    mask-image: url("/static/icons/publish/trash.svg");
    -webkit-mask-image: url("/static/icons/publish/trash.svg");
}

.pubElCont {
    width: 160px;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.blogPostsViews {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.postView {
    font-size: 1.5em;
    margin: 20px;
}