{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Челикс's Blog</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}">
        <link rel="stylesheet" href="/static/css/register.css?{% now "U" %}">
    </head>
    <body class="mainBody">
        <header class="headerAuth">
            <div class="signBlock">
                <a class="signHeadLink" href="{% url 'register' %}">Register</a>
                <a class="signHeadLink" href="{% url 'login' %}">Log in</a>
            </div>
            <p class="nameOfBlog">Челик's blog</p>
            <div class="signBlock">
                <a href="{{path}}" class="iconCont"><div class="iconLink homeLink"></div></a>
            </div>
        </header>
        <main class="mainAuth">
            {% block content%}
            {% endblock %}
        </main>
        <footer class="footer">
            <a target="_blank" href="https://github.com/foxnorth228" class="iconCont">
                <div class="iconLink githubLink"></div>
            </a>
            <p>2022, Саньчила</p>
            <a target="_blank" href="https://www.bsuir.by/" class="iconCont" >
                <div class="iconLink bsuirLink"></div>
            </a>
        </footer>
    </body>
</html>